body {
  background-color: whitesmoke;
}
.container {
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
  width: 350px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px black;
}
h1 {
  text-align: center;
}
#todo-form {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
#todo-form input {
  flex-grow: 1;
  height: 30px;
  border-radius: 5px;
  width: 250px;
  padding: 5px;
  border: 1.5px solid gray;
}
#todo-form button {
  color: white;
  background-color: green;
  height: 42px;
  border-radius: 5px;
}
#todo-list button {
  color: white;
  background-color: red;
  height: 30px;
  border-radius: 5px;
  float: right;
}
#todo-list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  display: flex;
  flex-direction: column;
}
.todo-item {
  background-color: rgb(250, 248, 248);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: 1.5px solid gray;
  padding: 5px;
}
